mixin skills(skill)
    // ['skill name', 'attribute', 'na|some|trained', 'yes|no']
    - const [skillName, attributeName, training, armorCheck] = skill;
    - const fieldName = `attr_${skillName}_bonus`;
    - const lastPart = longName.slice(3);
    
      .attribute-row
        .attribute-field
            button(class="labelButton", type="roll", name=`roll_${skillName}_check`, value=`&{template:default} {{name=@{character_name}}} {{title=^{${skillName}}}} {{Roll=[[1d20 + @{${skillName}_modifier}[Attribute Modifier]+@{condition}]]}}`)
                span(class="allcaps", data-i18n=skillName) #{skillName}
        .skill-bonus
            input(class="attributeInput", type="text", name=fieldName, placeholder="3")
        .modifier-field
            input(class="attributeInput readOnly", type="text", name=`${fieldName}_modifier`, placeholder="0", readonly)