mixin attribute(attr)
    - const [shortName, longName] = attr;
    - const fieldName = `attr_${longName}`;
    - const translationLabel = `${longName}-abbr`;
    - const lastPart = longName.slice(3);
    
      .attribute-row
        .attribute-field
            .chatButtons
                button(class="labelButton sendToChat", type="roll", name=`roll_${longName}_check`, value=`@{${longName}_check_formula}`)
                    span(class="allcaps", data-i18n=translationLabel) #{shortName}
                    span(class="smallcaps", data-i18n=`${longName}-minus-first-three`) #{lastPart}
                .whisperButton 
                    button(class="whisperToChat", type="roll" name=`roll_whisper_${longName}_check`, value=`/w gm @{${longName}_check_formula}`)
                        span.iconButton w
            input(type='hidden', name=`attr_${longName}_check_formula`, value=`&{template:roll} {{name=@{character_name}}} {{title=^{${longName}}}} {{roll=[[1d20 + @{multi-action-penalty}[^{multi-action-penalty}] + @{${longName}_modifier}[${longName} modifier]+@{condition} + ?{Additional Modifiers|0}[additional modifiers]]]}}`)
        .score-field
            input(class="attributeInput", type="text", name=fieldName, placeholder="3")
        .modifier-field
            input(class="attributeInput readOnly", type="text", name=`${fieldName}_modifier`, placeholder="0", readonly)
        if longName === "dexterity"
            input(class="cappedDexMod", type="hidden", name="attr_dex_is_capped", value="0")
            .cappedMod 
                img(src='https://raw.githubusercontent.com/finderski/Legend-Seeker/main/images/armor_worn.png', data-i18n-alt="capped-dex-mod")