mixin savingthrow(save)
    - const [shortName, longName, attributeName] = save;
    - const abilityShortName = attributeName.slice(0, 3).toUpperCase();
    
      .saveRow
        .saveButton
            button(class="labelButton", type="roll", name=`roll_${shortName}_check`, value=`&{template:default} {{name=@{character_name}}} {{title=^{${shortName}-check}}} {{Roll=[[1d20 + @{${shortName}_modifier}[Attribute Modifier]]]}}`)
                span(class="allcaps", data-i18n=`${longName}-abbr`) #{shortName}
        .saveTotal
            input(class="attributeInput", type="text", name=`${shortName}_total`)
        .saveCalc
            span(class="calcFormula")
                | = 10 + 
        .saveLvlOrArmor
            input(class="attributeInput", type="text", name="attr_lvlOrArmor", placeholder="0")
        .saveClassBonus
            input(class="attributeInput", type="text", name="attr_classBonus", placeholder="0")
        .saveAbilityMod
            input(class="attributeInput", type="text", name=`attr_${attributeName}_modifier`, placeholder="0" readonly)
            span(class="abilityWatermark", data-i18n=`${attributeName}-abbr`) #{abilityShortName}
        .saveMisc
            input(class="attributeInput", type="text", name="attr_misc_save_mod", placeholder="0")