mixin attribute(attr)
    - const [shortName, labelKey] = attr;
    - const fieldName = `attr_${shortName}`;
    - const translationLabel = `${labelKey}-abbr`;
    - const divLabel = `${labelKey}`
    
      div(class=divLabel)
        .button
            button(class="labelButton", type="roll", name=`roll_${shortName}_check`, value=`&{template:default} {{name=@{character_name}}} {{title=^{${labelKey}}}} {{Target=[[ (@{total_${shortName}}+?{Misc. Modifier|0}) * ?{Multiplier?|x1,1 |x2,2|x3,3|x4,4|x5,5} ]] }} {{Roll=[[1d100]]}}`, data-i18n=translationLabel)
        .score-field
            input(class="attributeInput", type="text", name=fieldName, placeholder="3")
        .modifier-field
            input(class="attributeInput", type="text", name=`attr_${shortName}_modifier`, placeholder="0")